@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/*
font-family: "Rubik", sans-serif;
*/

* {    
    scroll-behavior: smooth;
}

body {
    /* background-color: rgb(211, 201, 180); */
    background-color: rgb(238, 238, 238);
    background-attachment: fixed;
    font-family: "Rubik", sans-serif;
}

h2 {
    font-family: "Rubik", sans-serif;
}

.wppbtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.transparent-div {
    background: linear-gradient(to top, rgb(255, 255, 255), transparent);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    pointer-events: none;
}

@media (min-width: 1024px) {
    main {
        width: 1024px;
        margin-inline: auto;
    }
}

